.img-sec-list {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.image-section {
    background-color: rgb(81, 70, 70);
}


.img-card-image {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.image-card {
    background-color: white;
}

.image-button-position-right {
    margin-right: 350px  !important;
}

.image-button-position-left {
    margin-left: 350px  !important;
}

.w-10-mine {
    width: 250px !important;
    margin-top: 39px !important;
    margin-bottom: 79px !important;
}


/* .product {
    

}

    

    .product__list {
        display: flex;
        justify-content: space-around;
    }
    
    .product__item {
        position: relative;
    }
    
    .product__transp {
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.80);
        position: absolute;
        top: 225px;
        padding-top: 27px;
    }
    
    .product__text {
        color: white;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;


    }
    
    .product__headline {
    
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color: black;
        margin-bottom: 50px;
    }


.img-pr {
    width: 370px;
height: 294px;
flex-shrink: 0;
} */


.img-sec {
    /* background-color: rgb(2, 28, 71); */
    padding-bottom: 20px;
}

/* .card-img {
    background-color: rgb(2, 28, 71) !important;
} */

.btn-nav {
    border-width: 1px!important;
    border-color: red !important;
}

.btn-nav:hover {
   background-color: red !important;
}

.button-nav-position {
    margin-right: 25px;
    background-color: red !important;
    border: none !important;
}

.color-nav {
    color: red !important;
    font-family: 'Roboto' !important;
    font-weight: 800 !important;
    margin-left: 50px !important;
   
}


/* .card-text {
    color: white;
} */


.nav-ul {
    margin-left: auto !important;
    gap: 20px !important;
}


.nav-img {
    margin-left: 30px !important;
}




.ul-nav-text {
    color: red !important;
    font-weight: 600 !important;
}


.border-red {
    border-color: red !important;
}

.ul-nav {
    border-width: 4px !important;
}

.divider {
    border-color: red !important;
    border-width: 2px !important;
}

.border-yellow-weight-2 {
    border-color: rgb(255, 187, 0) !important;
    border-width: 2px !important;
}

.border-purple-weight-2 {
    border-color: rgb(162, 0, 255) !important;
    border-width: 2px !important;
}

.border-blue-weight-2 {
    border-color: rgb(0, 110, 255) !important;
    border-width: 2px !important;
}

.img-sec-headline {
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: rgb(255, 187, 0);
}

.purple {
    color: rgb(162, 0, 255);
}

.blue {
    color: rgb(0, 110, 255);
}

.card-img-width {
    width:auto !important;
}


.height {
    height: 350px !important;
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
    background-color: rgb(248, 249, 250);
    padding-left: 19px;
    padding-right: 19px;
    font-family: Kanit;
}

.sidebar-input {
    width: 180px;
}

.sidebar-input::placeholder {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar-display {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 65px;
    margin-bottom: 50px;
}

.min-max-sidebar {
   font-weight: 500;
}

.checkbox-position {
    margin-bottom: 20px !important;
}

.drop-down {
    margin-bottom: 60px !important;
}



.sidebar-button {
    border-radius: 4px;
    background: #2196f3;
    height: 50px;
    border: none;
    color: white;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.container-paddings {
    padding-left: 100px !important;
}

.special-cont {
    padding-top: 100px;
}

.iframe {
    margin-left: 200px;
}

.location-headline {
    font-family: "Kanit", sans-serif;
    padding-left: 200px;
    color: white;
}

.display-ul-location {
    display: flex;
}

.location-ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 80px;
    padding-left: 120px;
}


.location {
    background-color: rgb(2, 28, 71);
}

.lego-color {
    color: red;
    font-weight: 500;
}

.location-text {
    font-size: 25px;
    font-weight: 400;
    font-family: "Kanit", sans-serif;
    color: white;
}

.lego-img {
    width: 360px;
    margin-left: 90px;
}

.container-paddings-items {
    padding-left: 265px;
}


.items {
    padding-top: 100px;
    padding-bottom: 100px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 30px;
    justify-content: center;
}


.item-color-button {
    background-color: rgb(2, 28, 71) !important;
    border-color: rgb(2, 28, 71) !important;
}

.item-img-styles {
    width: 230px !important;
    height: 200px !important;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    background-color: rgb(2, 28, 71);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}


.container-paddings-footer {
    padding-left: 300px;
}


.footer-headline {
    color: white;
    padding-left: 30px;
}

.footer-text {
    color: white;
}

.footer-link {
    text-decoration: none;
    color: #2196f3;
}

.footer-text-2 {
    font-size: 20px;
}

.footer-text-3 {
    font-size: 25px;
}

.footer-text-4 {
    font-size: 30px;
}