.img-sec-list {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.image-section {
    background-color: rgb(81, 70, 70);
}


.img-card-image {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.image-card {
    background-color: white;
}

.image-button-position-right {
    margin-right: 350px  !important;
}

.image-button-position-left {
    margin-left: 350px  !important;
}

.w-10-mine {
    width: 250px !important;
    margin-top: 39px !important;
    margin-bottom: 79px !important;
}
